@model IEnumerable<Category>
<div>
    <ul>
        @foreach (Category category in Model)
        {
            <li class="list-group-item"><a asp-action="Index" asp-route-id="@category.CategoryId"><strong>@category.CategoryName </strong></a>- @category.Description</li>
        }
    </ul>
</div>